html, body {
  height: 100%;
  position: relative;
  margin: 30px;
  background-color: #F2F2F2;
}

h1, h2, h3, h4, h5, h6 {
  margin: 30px 70px;
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  text-align: left;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.441rem;
}

h4 {
  font-size: 1.953rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
}

.Title-box {
  height: 20rem;
  width:20rem;
}

.Site-title {
  margin: 30px 70px;
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 3.815rem;
}

.Tagline-box {
  height: 10rem;
  width:30rem;
}

.Tagline {
  margin: 30px 70px;
  text-align: center;
  font-size: 1.563rem;
  font-family: 'Arvo', serif;
}

p {
  margin: 30px 190px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1rem;
}

.content {
  min-height: 100vh; 
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; 
  /* height: 50em;
  width:50em; */
}

.Form-box {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 10rem 10rem;
  text-align: center;
}

input {
  padding: 4px 4px;
  font-size: 16px;
  margin: 4px 2px;
}

.button {
  background-color: white; 
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.button:hover {
  background-color: #f2d305;
  color: black;
}

.footer {
  position: fixed;
  background: #F2F2F2;
  padding-top: 2rem;
  bottom: 0rem;
  width: 100%;
  text-align: center;
}

.footer-p {
  text-align: center;
  margin: 20px 70px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

/* Footer link design inspiration from: https://codepen.io/geoffgraham/pen/GXoOdK */

:root {
  --mainColor: #f2d305;
}

a {
  background: 
    linear-gradient(
      to bottom, var(--mainColor) 0%, 
      var(--mainColor) 100%
      );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
  color: black;
  text-decoration: none;
  transition: background-size .2s;
}

a:hover {
  background-size: 4px 50px;
}


a:link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 5rem;
}

/* Low-highlight style inspiration: https://thirtyeightvisuals.com/blog/low-highlight-heading-links-squarespace */
.Result-highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #f2d305 10%);
}

.Category-highlight {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  text-align: left;
  background: linear-gradient(180deg,rgba(255,255,255,0) 40%, #7ec6f2 0%);
  font-size: 1.563rem;
}