{% extends "base.html" %}

{% block content %}

<div class="Site-title">Scales</div>

<h2>About</h2>

<h3>The Project</h3>
<p>We all think we know what we're looking at when we look at the news. But what if we don't?</p>

<p>Bias (and the misinformation that often follows) has been part and parcel of shaping history, sibling to the truth. As online journalism has risen in prevalence, bias has become increasingly difficult to separate from objective fact in what we call "the news."</p>

<p>This project was inspired by a deep affection for people from all political walks, as well as a desire to make a tool that allowed people to check their assumptions about their news in a non-judgmental space.</p>

<p>This project can't tell you a definitive, all-encompassing truth. What it can do is bring the structure of online media, and the rhetoric of journalists, out of the shadows, so that you can make your own decisions about the news you consume.</p>

<h3>The Programmer</h3>
<p>Codesrobertson is a junior backend developer in Seattle, Washington. She fuses her background in English Writing and Rhetoric with her newfound joy in programming to build tools that help people find common ground.</p>

{% endblock %}