{% extends "base.html" %}

{% block content %}

  <div class="Site-title">Scales</div>

  <div class="Tagline">Uncover what the media we consume is consumed by</div>

  <title>Index</title>

  <!-- <h5>To analyze a news article, copy and paste its URL into the form field below.</h5> -->

  <div class="Form-box">
    <form action="/weigh" method="post" enctype="application/x-www-form-urlencoded; charset=utf-8">
      <label for="url">Enter an article URL:</label>
      <input type="url" name="url" id="url" placeholder="https://ap.com" pattern="https://.*" size="30" required>
      <button class ="button" type="submit">Analyze URL</button>
    </form>
  </div>
{% endblock %}