{% extends "base.html" %}

{% block content%}

  <h2>Your Analyzed Search Result</h2>

  <h4>Domain</h4>
  <p>Scales categorizes your link's domain as most frequently publishing ... content.</p>

  <h4>Title</h4>
  <p>Scales reports that the overall sentiment of your link's headline is {{ title_decision }}, with a score of {{ title_score }}</p>

  <h4>Content</h4>
  <p>Scales reports that the overall sentiment of your url's content is {{ content_decision }}, with a score of {{ overall_subjectivity }}</p>

  <h3>How much is bias?</h3>
  <!-- add loop or enumerator for however the percentages break down -->
  <div class="Percentages"></div>

  <p>Add in the cleaned, highlighted text here</p>

{% endblock %}