{% extends "base.html" %}

{% block content%}
  <div class="Site-title">Scales</div>

  <h3>Your Analyzed Search Result</h3>

  <h5>Domain</h5>
  <p>Scales categorizes your link's domain as most frequently publishing {{ category }} content.</p>

  <h5>Title</h5>
  <p>Scales reports that the overall sentiment of your link's headline is {{ title_decision }}, with a score of {{ title_score }}</p>

  <h5>Content</h5>
  <p>Scales reports that the overall sentiment of your url's content is {{ content_decision }}, with a score of {{ overall_subjectivity }}</p>

  <h4>How much is bias?</h4>
  <!-- add loop or enumerator for however the percentages break down -->
  <div class="Percentages"></div>

  <p>Add in the cleaned, highlighted text here</p>

{% endblock %}