{% extends "base.html" %}

{% block content%}
  <div class="Site-title">Scales</div>

  <h3>Your Analyzed Search Result</h3>

  <h5><span class="Category-highlight">Domain</span> </h5>
  <p>Scales categorizes your link's domain as most frequently publishing <span class="Result-highlight"> {{ domain_category }}</span> content.</p>
  
  <h6>Why does the domain matter?</h6>
  <p>You wouldn't put on Cartoon Network if you were hoping to see a war movie. Similarly, understanding the type of content your media outlet is in the business of purveying can help ensure your news is from a news source to begin with.</p>

  <!-- Add in section with media literacy flashcards here -->

  <h5><span class="Category-highlight">Title</span> </h5>
  <p>Scales reports that the overall sentiment of your link's headline is <span class="Result-highlight">{{ title_decision }}</span>; and scores <span class="Result-highlight">{{ title_score }}</span>.</p>

  
  <h6>How are scores determined?</h6>
  <p>Scales' machine learning model and sentiment analyzer use scales of 0-1 (with 0 being the most objective(factual), and 1 being the most subjective(biased).) In other words, a straightforward news story will return with a score closer to 0, and an opinion piece will return with a score closer to 1.</p>


  <h5><span class="Category-highlight">Content</span> </h5>
  <p>Scales reports that the overall sentiment of your url's content is <span class="Result-highlight">{{ content_decision }}</span>; and scores <span class="Result-highlight">{{ average_bias }} </span>.</p>

  <div class="Percentages"></div>

  <div class="Highlit-box">
    <p>The alleged killer of the son of a New Jersey federal judge may also have been involved in the shooting death of a men's
    rights attorney in California earlier this month, news reports said Wednesday.
    
    Attorney Marc Angelucci was killed July 11 in San Bernardino County. Just over a week later, a man dressed as a FedEx
    driver showed up at the home of U.S. District Judge Esther Salas, shot and killed her son, 20, and wounded Salas'
    husband, who survived.
    
    Authorities said they have evidence linking the alleged perpetrator in the New Jersey shooting, Roy Den Hollander, with
    Angelucci's killing as well, according to The Associated Press. A law enforcement official told the AP that the suspect
    in Angelucci's killings was also dressed as a delivery driver.
    
    ABC News reported law enforcement sources said the same gun was used in both killings.
    
    Hollander, 72, a self-proclaimed "anti-feminist" attorney, was known for filing lawsuits challenging the
    constitutionality of ladies' nights at bars. He also sued Columbia University for offering women's studies classes.
    
    Angelucci was also a men's rights activist. Like Hollander, Angelucci had filed cases challenging the male-only military
    draft. Angelucci's friends said Hollander saw the California lawyer as a rival.
    
    Hollander was "beyond words furious, absolutely enraged" that Angelucci was getting involved in the Selective Service
    case, his friend Paul Elam said in a Facebook Live video Monday, CNN reported. "He saw Marc's work in that respect as an
    intrusion into his space. He was more than angry about it; he was livid."
    
    Like Angelucci, Hollander had been a member of the National Coalition for Men, a men's rights advocacy group. But
    Hollander was kicked out of the group after he threatened the group's leadership, the coalition's president, Harry
    Crouch, told CNN.
    
    Hollander was found dead Monday..</p>
  </div>
  

{% endblock %}